In [5]:
a = 10
if a >= 10:
    print("a is greater then 10")

a is greater then 10

In [7]:
a = 5
if a < 10:
    print("a is less then 10")

a is less then 10

In [1]:
a = int(input("enter the number"))
if a > 10:
    print("a is greater then 10")
elif a < 10:
    print("a is less then 10")
else:
    print("this is default")

enter the number 10

this is default

In [6]:
i = 1
n = 5

while i < n :
    print(i)
    i = i+1
    if i == 3:
        continue
else :
    print("code run sucessfully")

1
2
3
4
code run sucessfully

In [10]:
a = "Gaurang"
for i in a:
    print(i)

G
a
u
r
a
n
g

In [13]:
l = [12,54,76,"asd","dfhg",534,87,34.43,True,False,12 + 2j]

for i in l:
    print(i)
    print((type(i)))
else:
    print("this will execute after the for loop is execute sucessfully")

12
<class 'int'>
54
<class 'int'>
76
<class 'int'>
asd
<class 'str'>
dfhg
<class 'str'>
534
<class 'int'>
34.43
<class 'float'>
True
<class 'bool'>
False
<class 'bool'>
(12+2j)
<class 'complex'>
this will execute after the for loop is execute sucessfully

In [15]:
l = [12,54,76,"asd","dfhg",534,87,34.43,True,False,12 + 2j]

for i in l:
    if i == 87:
        continue
    print(i)
    print((type(i)))
else:
    print("this will execute after the for loop is execute sucessfully")

12
<class 'int'>
54
<class 'int'>
76
<class 'int'>
asd
<class 'str'>
dfhg
<class 'str'>
534
<class 'int'>
34.43
<class 'float'>
True
<class 'bool'>
False
<class 'bool'>
(12+2j)
<class 'complex'>
this will execute after the for loop is execute sucessfully

In [5]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
price = int(input("enter the price"))
if price > 1000:
    print("I will not purchase")
    
else:
    print("I will purchase")

enter the price 1001

I will not purchase

In [6]:
l = [1,2,3,4,5,6,7,8,9]

In [10]:
l1 = []
for i in l:
    print(i+1)
    l1.append(i+1)
l1

2
3
4
5
6
7
8
9
10

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
l2 = [23,43,64,35,"gaurang","hello","world",43,53,64,24.32]

In [27]:
l2

[23, 43, 64, 35, 'gaurang', 'hello', 'world', 43, 53, 64, 24.32]

In [28]:
num = []
string = []

for i in l2:
    if type(i) == int or type(i) == float:
        num.append(i)
    else:
        string.append(i)  
    
num
string

['gaurang', 'hello', 'world']

In [29]:
num

[23, 43, 64, 35, 43, 53, 64, 24.32]

In [30]:
string

['gaurang', 'hello', 'world']

In [31]:
10 % 3

1

Student Data base

Student_id
Gender - Department - Marks - Final_marks - backlog

In [1]:
student_id = ['s01','so2','s03','s04','s05']
gender = ['m','f','f','m','f']
department = ['BCA','MCA','BBA','MBA','Data scientist']
marks = [65.84,45,26.45,87,95.25]
final_marks = [650,650,680,320,760]
backlog = ['B','B','NB','NB','NB']

if student get more than 70 in their sesional increse theor total marks bu 2%

In [2]:
for i in range(len(student_id)):
        if marks[i] > 70:
            final_marks[i] = final_marks[i] +(final_marks[i] * 0.02)
        else:
            print("There is no change")

There is no change
There is no change
There is no change

s01,s04 getupdated backlog notic  s01 = backlog ,s04 = Backlog

In [3]:
update_student = ['s01', 's04']

for i in range(len(student_id)):
    if student_id[i] in update_student:
        backlog[i] = 'B'

In [4]:
backlog

['B', 'B', 'NB', 'B', 'NB']

if student total marks is > 750 and they nave no backlof they get high achiver scolarship then if a student has no backlog and has marks 650 and 700 they will get achiver scolarship

In [5]:
scolarship = ["no scolarship" for _ in range(len(student_id))]

In [6]:
scolarship

['no scolarship',
 'no scolarship',
 'no scolarship',
 'no scolarship',
 'no scolarship']

In [7]:
scolarship = []
for _ in range(len(student_id)):
    scolarship.append('no scolarshhip')

In [8]:
scolarship

['no scolarshhip',
 'no scolarshhip',
 'no scolarshhip',
 'no scolarshhip',
 'no scolarshhip']

In [9]:
department

['BCA', 'MCA', 'BBA', 'MBA', 'Data scientist']

In [10]:
for i in range(len(student_id)):
    if department[i] == 'CS' and final_marks[i] > 750 and backlog[i] == 'NB':
        scolarship[i] = 'high achiver scolarship'
        print(f'high achiver scolarship to {student_id[i]}')
    elif final_marks[i] >= 650 and final_marks[i] <= 700 and  backlog[i] == 'NB' :
        scolarship[i] = 'achiver scolarship'
        print(f'achiver scolarship to {student_id[i]}')
    else:
        print('no scolarship is given')

no scolarship is given
no scolarship is given
achiver scolarship to s03
no scolarship is given
no scolarship is given

In [11]:
scolarship

['no scolarshhip',
 'no scolarshhip',
 'achiver scolarship',
 'no scolarshhip',
 'no scolarshhip']

In [12]:
std_db = {
    'student id' : student_id,
    'gender' : gender,
    'department': department,
    'marks': marks,
    'final_marks': final_marks,
    'backlog': backlog,
    'scolarship':scolarship
}

In [13]:
std_db

{'student id': ['s01', 'so2', 's03', 's04', 's05'],
 'gender': ['m', 'f', 'f', 'm', 'f'],
 'department': ['BCA', 'MCA', 'BBA', 'MBA', 'Data scientist'],
 'marks': [65.84, 45, 26.45, 87, 95.25],
 'final_marks': [650, 650, 680, 326.4, 775.2],
 'backlog': ['B', 'B', 'NB', 'B', 'NB'],
 'scolarship': ['no scolarshhip',
  'no scolarshhip',
  'achiver scolarship',
  'no scolarshhip',
  'no scolarshhip']}

In [14]:
std_db.keys()

dict_keys(['student id', 'gender', 'department', 'marks', 'final_marks', 'backlog', 'scolarship'])

In [15]:
std_db.values()

dict_values([['s01', 'so2', 's03', 's04', 's05'], ['m', 'f', 'f', 'm', 'f'], ['BCA', 'MCA', 'BBA', 'MBA', 'Data scientist'], [65.84, 45, 26.45, 87, 95.25], [650, 650, 680, 326.4, 775.2], ['B', 'B', 'NB', 'B', 'NB'], ['no scolarshhip', 'no scolarshhip', 'achiver scolarship', 'no scolarshhip', 'no scolarshhip']])