In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [3]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [4]:
s= df['Name']

In [5]:
len(s)

891

In [6]:
s[0:11]

0                               Braund, Mr. Owen Harris
1     Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                Heikkinen, Miss. Laina
3          Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                              Allen, Mr. William Henry
5                                      Moran, Mr. James
6                               McCarthy, Mr. Timothy J
7                        Palsson, Master. Gosta Leonard
8     Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                   Nasser, Mrs. Nicholas (Adele Achem)
10                      Sandstrom, Miss. Marguerite Rut
Name: Name, dtype: object

In [7]:
s= df['Name'][0:10]

In [8]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [9]:
l = ['a','b','c','d','e','f','g','h','i','j']

In [14]:
s1 = pd.Series(list(s),index=l)

In [11]:
s[0]

'Braund, Mr. Owen Harris'

In [17]:
s[0]

'Braund, Mr. Owen Harris'

In [16]:
s1[0]

'Braund, Mr. Owen Harris'

In [19]:
s2 = s1.append(s)

/tmp/ipykernel_84/2451741888.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s2 = s1.append(s)

In [20]:
s2

a                              Braund, Mr. Owen Harris
b    Cumings, Mrs. John Bradley (Florence Briggs Th...
c                               Heikkinen, Miss. Laina
d         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                             Allen, Mr. William Henry
f                                     Moran, Mr. James
g                              McCarthy, Mr. Timothy J
h                       Palsson, Master. Gosta Leonard
i    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                  Nasser, Mrs. Nicholas (Adele Achem)
0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [21]:
s2[0]

'Braund, Mr. Owen Harris'

In [24]:
s3 = pd.Series([23,54,76,87,45],index=[1,2,3,4,5])

In [25]:
s4 = pd.Series([54,26,54,59,95],index=[2,5,6,4,2])

In [28]:
s5 = s3.append(s4)

/tmp/ipykernel_84/2271913347.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s5 = s3.append(s4)

In [30]:
s5[4]

4    87
4    59
dtype: int64

In [31]:
s5[1:5]

/tmp/ipykernel_84/2107333051.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  s5[1:5]

2    54
3    76
4    87
5    45
dtype: int64

In [32]:
s4

2    54
5    26
6    54
4    59
2    95
dtype: int64

In [33]:
s5

1    23
2    54
3    76
4    87
5    45
2    54
5    26
6    54
4    59
2    95
dtype: int64

In [34]:
s4*s5

1       NaN
2    2916.0
2    2916.0
2    5130.0
2    5130.0
2    5130.0
2    9025.0
3       NaN
4    5133.0
4    3481.0
5    1170.0
5     676.0
6    2916.0
dtype: float64

In [35]:
s4+s5

1      NaN
2    108.0
2    108.0
2    149.0
2    149.0
2    149.0
2    190.0
3      NaN
4    146.0
4    118.0
5     71.0
5     52.0
6    108.0
dtype: float64