Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [19]:
my_string = "apple"

In [20]:
type(my_string)

str

In [6]:
my_list = [2,4,53,"hello",12.34,True,False]

In [11]:
type(my_list)

list

In [8]:
my_float = 20.45

In [12]:
type(my_float)

float

In [13]:
my_tuple = (23,32,54,53,24,"hello",True)

In [14]:
type(my_tuple)

tuple

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [1]:
var1 = ''

In [2]:
type(var1)

str

In [3]:
var2 = '[ DS , ML , Python]'

In [4]:
type(var2)

str

In [5]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [6]:
type(var3)

list

In [24]:
var4 = 1.

In [25]:
type(var4)

float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [ ]:
(i) / (Division Operator) --> These is use to make a devision between the two number.

In [27]:
4/2

2.0

In [ ]:
(ii) % (Modulus Operator) -->The modulus operator calculate the remainder of the devision of the two number.

In [30]:
5%4

1

In [ ]:
(iii) // (Floor Division Operator) -->The floor division operator performs floor division between two numbers and returns the quotient as an integer.

In [32]:
10//4

2

In [ ]:
(iv) ** (Exponentiation Operator) -->The Exponentiation operator use to make the squre and the secound number use to give the power to the above number.

In [33]:
2 ** 3

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [34]:
l = [12,54,"World",534,87,34.43,True,False,12 + 2j,"Hello"]

for i in l:
    print(i)
    print((type(i)))

12
<class 'int'>
54
<class 'int'>
World
<class 'str'>
534
<class 'int'>
87
<class 'int'>
34.43
<class 'float'>
True
<class 'bool'>
False
<class 'bool'>
(12+2j)
<class 'complex'>
Hello
<class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [7]:
# Ans 5:-
A = 1000
B = 5
count = 0

while A % B == 0:
    A = A // B
    count += 1

print(f"A is divisible by B {count} times")

A is divisible by B 3 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [35]:
my_list = [12, 7, 33, 18, 21, 9, 15, 4, 6, 27, 30, 14, 11, 20, 3, 8, 17, 22, 25, 36, 2, 13, 19, 10, 16]
for num in my_list:
    if num % 3 == 0:
        print(num, "is divisible by 3")
    else:
        print(num, "is not divisible by 3")

12 is divisible by 3
7 is not divisible by 3
33 is divisible by 3
18 is divisible by 3
21 is divisible by 3
9 is divisible by 3
15 is divisible by 3
4 is not divisible by 3
6 is divisible by 3
27 is divisible by 3
30 is divisible by 3
14 is not divisible by 3
11 is not divisible by 3
20 is not divisible by 3
3 is divisible by 3
8 is not divisible by 3
17 is not divisible by 3
22 is not divisible by 3
25 is not divisible by 3
36 is divisible by 3
2 is not divisible by 3
13 is not divisible by 3
19 is not divisible by 3
10 is not divisible by 3
16 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [ ]:
Mutable --> Mutable data type can be modify after they are created
        --> Examples of mutable data types in Python include lists, dictionaries, and sets.

In [40]:
a = [10,14,43,35]

In [43]:
a[1] = 15
a

[10, 15, 43, 35]

In [ ]:
Immutable -->Immutable data type can not be modify after they are created
          -->Examples of immutable data types in Python include integers, floats, strings, and tuples.

In [44]:
b = "apple"

In [45]:
b[1]

'p'

In [46]:
b[1] = a

TypeError: 'str' object does not support item assignment