Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
# Ans 1:- 
import pandas as pd
data = [4,8,15,16,23,42]
series = pd.Series(data)

In [2]:
series

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [8]:
# Ans 2:- 
import pandas as pd
my_list = [1,2,3,4,5,6,7,8,9,10]
ser = pd.Series(my_list)

In [9]:
ser

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

Q3. Create a Pandas DataFrame that contains the following data:

Name
Alice
Bob
Claire

Age
25
30
27

Gender
Female
Male
Female

Then, print the DataFrame.

In [14]:
# Ans 3:-
import pandas as pd
data = {
        'Name':['Alice','Bob','Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']
        }
df = pd.DataFrame(data)

In [15]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [ ]:
Ans 4:-
In Pandas, a DataFrame is a 2-dimensional labeled data structure that can store data of different types (e.g., numerical, textual, categorical) in a tabular form.
It is similar to a table in a relational database or a spreadsheet in Excel.

In [ ]:
On the other hand, a Series in Pandas is a one-dimensional labeled array that can hold data of any type.
It is similar to a column in a DataFrame or a single column from an Excel sheet.

In [16]:
# DataFrame
import pandas as pd
data = {
        'Name':['Alice','Bob','Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']
        }
df = pd.DataFrame(data)

In [17]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [18]:
# Series
import pandas as pd
data = {
        'Name':['Alice','Bob','Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']
        }
df = pd.Series(data)

In [19]:
df

Name        [Alice, Bob, Claire]
Age                 [25, 30, 27]
Gender    [Female, Male, Female]
dtype: object

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

In [ ]:
Ans 5:-
head() - Returns the first n rows of the DataFrame. Useful to quickly inspect the data.
df.head(5)

In [ ]:
tail() - Returns the last n rows of the DataFrame. Useful to quickly inspect the data.
df.tail(3)

In [ ]:
describe() - Generates descriptive statistics of the DataFrame, such as count, mean, standard deviation, minimum, maximum, and quartiles.
df.describe()

In [ ]:
loc[] - Allows for label-based indexing, enabling access to specific rows or columns by their labels.
df.loc[:, 'Age']

In [ ]:
iloc[] - Allows for integer-based indexing, enabling access to specific rows or columns by their integer positions.
df.iloc[3]

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [ ]:
Ans 6:-
Series:
    A Series in pandas is a one-dimensional labeled array that can hold any data type.
    It is mutable, meaning you can modify its values, add or remove elements, or change its index labels.

In [ ]:
DataFrame:
    A DataFrame is a two-dimensional labeled data structure with columns of potentially different data types.
    It is also mutable, allowing you to modify its contents, add or remove columns or rows, or update values in specific cells.

In [ ]:
Panel:
    Panel was a three-dimensional data structure in pandas, but it has been deprecated since pandas version 0.20.
    It is not mutable and has been replaced by other data structures like MultiIndex and Panel4D.

In [ ]:
The mutual natural series in the nature Series, DataFrame, Panel is as above

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [ ]:
Ans 7:-
To create a DataFrame using multiple Series, you can pass a dictionary of Series objects to the DataFrame constructor.
Each Series will represent a column in the DataFrame, and the keys of the dictionary will be used as the column names.

In [1]:
import pandas as pd
name_series = pd.Series(['Alice', 'Bob', 'Claire'])
age_series = pd.Series([25, 30, 27])
gender_series = pd.Series(['Female', 'Male', 'Female'])

data = {'Name': name_series,'Age':age_series,'Gender':gender_series}
df = pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female