Q1. What is a database? Differentiate between SQL and NoSQL databases.

In [ ]:
Ans 1:- A database is a structured collection of data that organized and managed data to serve various purposes, such as storing, retrieving, and manipulating the data.
        It provides a way to store and organize data in a way that enables the way to efficient data management and retrieval.

In [ ]:
SQL Databases:
    SQL databases are based on the relational model, where data is organized into tables with predefined schemas.
    They enforce strict data consistency and integrity through the use of ACID (Atomicity, Consistency, Isolation, Durability) properties.
    SQL databases use SQL as the standard language for defining, manipulating, and querying data.

In [ ]:
NoSQL Databases:
    NoSQL databases are non-relational databases that provide flexible schema designs.
    They offer a more dynamic and scalable approach to data storage and retrieval.
    NoSQL databases are designed for handling unstructured, semi-structured, and rapidly changing data.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

In [ ]:
Ans 2:- DDL stands for Data Definition Language.
        It is a subset of SQL (Structured Query Language) that is used to define and manage the structure of a database.

In [ ]:
CREATE:
    The CREATE statement is used to create new database objects such as tables, indexes, views, or constraints.

In [ ]:
CREATE TABLE customers (
  id INT,
  name VARCHAR(50),
  email VARCHAR(100)
);

In [ ]:
DROP:
    The DROP statement is used to delete existing database objects such as tables, indexes, views, or constraints.

In [ ]:
DROP TABLE customers;

In [ ]:
ALTER:
    The ALTER statement is used to modify the structure of an existing database object.

In [ ]:
ALTER TABLE customer
ADD COLUMN phone ITN(15)

In [ ]:
TRUNCATE:
    The TRUNCATE statement is used to delete all data from a table, but it retains the structure of the table.

In [ ]:
TRUNCATE TABLE customers;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

In [ ]:
Ans 3:-DML stands for Data Manipulation Language.
       It is a subset of SQL (Structured Query Language) that is used to manipulate data stored in a database.

In [ ]:
INSERT:
    The INSERT statement is used to insert new records into a database table.

In [ ]:
INSERT INTO customer(name,email)
VALUES("Gauerang","gaurang@gmail.com")

In [ ]:
UPDATE:
    The UPDATE statement is used to modify existing records in a database table.

In [ ]:
UPDATE customers
SET email = 'gaurangb@gmiail.com'
WHERE id = 1;

In [ ]:
DELETE:
    The DELETE statement is used to delete existing records from a database table.

In [ ]:
DELETE FROM customers
WHERE id = 1;

Q4. What is DQL? Explain SELECT with an example.

In [ ]:
Ans 4:-DQL stands for Data Query Language.
       It is a subset of SQL (Structured Query Language) that is used to retrieve data from a database.
       DQL statements are primarily focused on querying and selecting data from database tables.

In [ ]:
SELECT * FROM employees;

In [ ]:
SELECT * FROM employees WHERE age > 30;

In [ ]:
SELECT name, age FROM employees;

Q5. Explain Primary Key and Foreign Key.

In [ ]:
Ans 5:-
Primary Key:
    A primary key is a unique identifier for each record in a table.
    It ensures that each row in a table is uniquely identified and allows for efficient retrieval and manipulation of data.
    The primary key constraint enforces the following properties:
        Uniqueness
        Non-nullability
        Immutable

In [ ]:
Foreign Key:
    A foreign key is a column or a set of columns in a table that references the primary key of another table.
    It establishes a relationship between two tables based on the values of the foreign key column(s) and the referenced primary key.
    Properties of a foreign key are as follow:
        Referential Integrity
        Relationship Establishment
        Optional or Mandatory

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE TABLE if not exists test2.test_table(c1 INT, c2 VARCHAR(50),c3 FLOAT,c4 VARCHAR(60),c5 INT )")
mydb.close()

In [ ]:
Cursor():
    The cursor() method creates a cursor object that is used to execute SQL queries and fetch the results.
    The cursor acts as a control structure to manage the execution of SQL statements.

In [ ]:
Execute():
    The execute() method is used to execute an SQL query or statement.
    It takes the SQL query as a parameter and sends it to the MySQL server for execution.

Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
Ans 7:-
SELECT:
    The SELECT clause is executed first to specify the columns to be retrieved from the database.

FROM:
    The FROM clause is executed after the SELECT clause to specify the table(s) from which the data will be retrieved.

WHERE:
    The WHERE clause is executed after the FROM clause to filter the data based on specified conditions.

GROUP BY:
    The GROUP BY clause is executed after the WHERE clause to group the data based on specified columns.

HAVING:
    The HAVING clause is executed after the GROUP BY clause to filter the grouped data based on specified conditions.

ORDER BY:
    The ORDER BY clause is executed after the HAVING clause to sort the data based on specified columns.

LIMIT/OFFSET:
    The LIMIT/OFFSET clause is executed last to limit the number of rows returned or skip a certain number of rows.