In [1]:
import numpy as np
import pandas as pd

In [3]:
np.random.seed(123)
n_samples = 1000
calss_0_ratio = 0.9
n_class_0 = int(n_samples * calss_0_ratio)
n_class_1 = n_samples - n_class_0

In [4]:
n_class_0,n_class_1

(900, 100)

In [5]:
class0 = pd.DataFrame({
    'feature1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature2':np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0] * n_class_0
})

class1 = pd.DataFrame({
    'feature1':np.random.normal(loc=0,scale=1,size=n_class_1),
    'feature2':np.random.normal(loc=0,scale=1,size=n_class_1),
    'target':[1] * n_class_1
})

In [8]:
df = pd.concat([class0,class1]).reset_index(drop=True)

In [11]:
df

     feature1  feature2  target
0   -1.085631  0.551302       0
1    0.997345  0.419589       0
2    0.282978  1.815652       0
3   -1.506295 -0.252750       0
4   -0.578600 -0.292004       0
..        ...       ...     ...
995 -0.623629  0.845701       1
996  0.239810 -1.119923       1
997 -0.868240 -0.359297       1
998  0.902006 -1.609695       1
999  0.697490  0.013570       1

[1000 rows x 3 columns]

In [9]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

##upsampling

In [16]:
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [13]:
df_minority.head()

     feature1  feature2  target
900 -0.300232  0.139033       1
901 -0.632261  0.025577       1
902 -0.204317 -0.196443       1
903  0.213696  1.312255       1
904  1.033878  1.187417       1

In [17]:
df_majority.head()

   feature1  feature2  target
0 -1.085631  0.551302       0
1  0.997345  0.419589       0
2  0.282978  1.815652       0
3 -1.506295 -0.252750       0
4 -0.578600 -0.292004       0

##upsampling

In [18]:
from sklearn.utils import resample

In [20]:
df_minority_upsample = resample(df_minority,
                                replace=True,##sample with replacement
                               n_samples=len(df_majority),## to match the majority class
                                random_state = 44
                               )

In [21]:
df_minority_upsample.shape

(900, 3)

In [23]:
df_minority_upsample.value_counts()

feature1   feature2   target
-0.994810  -0.889911  1         19
-0.084530  -0.347959  1         18
 1.701608   0.160889  1         18
 0.902006  -1.609695  1         16
 1.013493   0.047240  1         16
                                ..
 0.549697   1.095922  1          4
 0.013560   0.847260  1          4
 0.995595   0.475934  1          4
-1.011644  -0.164875  1          4
-0.754008   0.946908  1          3
Length: 100, dtype: int64

In [24]:
df_minority_upsample['target'].value_counts()

1    900
Name: target, dtype: int64

In [25]:
df_upsampled = pd.concat([df_majority,df_minority_upsample])

In [26]:
df_upsampled

     feature1  feature2  target
0   -1.085631  0.551302       0
1    0.997345  0.419589       0
2    0.282978  1.815652       0
3   -1.506295 -0.252750       0
4   -0.578600 -0.292004       0
..        ...       ...     ...
952 -0.811098  0.189189       1
965  1.919526 -0.019459       1
976  0.810326  1.604614       1
942  1.621531  0.168229       1
974 -0.839113  0.489203       1

[1800 rows x 3 columns]

In [27]:
df_upsampled['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

In [28]:
df_upsampled.shape

(1800, 3)

In [29]:
##Downsampling

In [40]:
class0 = pd.DataFrame({
    'feature1':np.random.normal(loc=0,scale=1,size=n_class_0),
    'feature2':np.random.normal(loc=0,scale=1,size=n_class_0),
    'target':[0] * n_class_0
})

class1 = pd.DataFrame({
    'feature1':np.random.normal(loc=0,scale=1,size=n_class_1),
    'feature2':np.random.normal(loc=0,scale=1,size=n_class_1),
    'target':[1] * n_class_1
})

In [41]:
df = pd.concat([class0,class1]).reset_index(drop=True)

In [42]:
df_minority = df[df['target']==1]
df_majority = df[df['target']==0]

In [43]:
df_majority_downsample = resample(df_majority,
                                replace=False,##sample with replacement
                               n_samples=len(df_minority),## to match the minority class
                                random_state = 44
                               )

In [44]:
df_majority_downsample.shape

(100, 3)

In [49]:
df_downsample = pd.concat([df_minority,df_majority_downsample])

In [50]:
df_downsample

     feature1  feature2  target
900  0.234028 -0.417115       1
901 -1.476524 -1.771650       1
902  0.391367  0.584698       1
903  0.604010 -0.895002       1
904 -0.162674 -0.874728       1
..        ...       ...     ...
503 -1.227757  1.063059       0
438  1.310207  2.251642       0
888  0.040958  0.251364       0
297  0.236664 -0.716441       0
407 -0.687854  0.851636       0

[200 rows x 3 columns]

In [51]:
df_downsample['target'].value_counts()

1    100
0    100
Name: target, dtype: int64