# Measure of centeral tendency

In [2]:
#mean(Average)
age = [20,50,32,51,32,84,51,35,51,65]

In [3]:
import numpy as np

In [4]:
np.mean(age)

47.1

In [5]:
weight = [50,20,50,90,40,50,80,70,56,50]

In [6]:
np.mean(weight)

55.6

In [7]:
import seaborn as sns
df = sns.load_dataset('tips')

In [8]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [10]:
np.mean(df['total_bill'])

19.78594262295082

In [11]:
#median
age = [20,50,32,51,32,84,51,35,51,65]

In [12]:
np.median(age)

50.5

In [13]:
age = [20,50,32,51,32,84,51,35,51,65,130]

In [14]:
np.mean(age)

54.63636363636363

In [15]:
np.median(age)

51.0

In [17]:
from scipy import stats

In [18]:
stats.mode(age)

/tmp/ipykernel_117/2474845003.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(age)

ModeResult(mode=array([51]), count=array([3]))

In [20]:
np.median(df['total_bill'])

17.795