#nominal / OHE Encoding

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [3]:
#create a sample datafram with categorical varirable

df = pd.DataFrame({
        'colour':['red','green','blue','red','purple','red']
})

In [4]:
df

   colour
0     red
1   green
2    blue
3     red
4  purple
5     red

In [5]:
#create an instence of one hot encoder

In [8]:
encoder = OneHotEncoder()

In [26]:
encoder.fit_transform(df[['colour']])

<6x4 sparse matrix of type '<class 'numpy.float64'>'
	with 6 stored elements in Compressed Sparse Row format>

In [22]:
enc = encoder.fit_transform(df[['colour']])

In [23]:
enc

<6x4 sparse matrix of type '<class 'numpy.float64'>'
	with 6 stored elements in Compressed Sparse Row format>

In [24]:
import pandas as pd

In [29]:
e = pd.DataFrame(enc.toarray(),columns=encoder.get_feature_names_out())

In [32]:
pd.concat([df,e],axis=1)

   colour  colour_blue  colour_green  colour_purple  colour_red
0     red          0.0           0.0            0.0         1.0
1   green          0.0           1.0            0.0         0.0
2    blue          1.0           0.0            0.0         0.0
3     red          0.0           0.0            0.0         1.0
4  purple          0.0           0.0            1.0         0.0
5     red          0.0           0.0            0.0         1.0

In [33]:
import seaborn as sns

In [34]:
sns.load_dataset('tips')

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]